.ul-container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%
}

.ul-fullHeightContainer {
    display: flex;
    flex: 1 1;
    flex-direction: column
}

.ul-fullScreen {
    height: 100vh;
    width: 100vw
}

.ul-relative {
    position: relative
}

.ul-flex {
    display: flex
}

.ul-flex-col {
    flex-direction: column
}

.ul-flex-row {
    flex-direction: row
}

.ul-flex-1 {
    flex: 1 1
}

.ul-flex-wrap {
    flex-wrap: wrap
}

.ul-grid-col-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr))
}

.ul-grid-col-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

.ul-grid-col-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
}

.ul-col-span-1 {
    grid-column: span 1/span 1
}

.ul-col-span-2 {
    grid-column: span 2/span 2
}

.ul-col-span-3 {
    grid-column: span 3/span 3
}

.ul-items-center {
    align-items: center
}

.ul-items-start {
    align-items: flex-start
}

.ul-items-end {
    align-items: flex-end
}

.ul-justify-center {
    justify-content: center
}

.ul-justify-start {
    justify-content: flex-start
}

.ul-justify-end {
    justify-content: flex-end
}

.ul-justify-spaceBetween {
    justify-content: space-between
}

.ul-grid {
    display: grid
}

.ul-width-full {
    width: 100%
}

.ul-width-half {
    width: 50%
}

.ul-height-full {
    height: 100%
}

.ul-trigger {
    cursor: pointer;
    display: flex
}

@media (max-width:767px) {
    .ul-display-sm-none {
        display: none !important
    }
}

@media (min-width:768px) {
    .ul-display-md-none {
        display: none !important
    }
}

@media (min-width:1024px) {
    .ul-display-lg-none {
        display: none !important
    }
}

.ul-position-central {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%)
}

.ul-font-bold {
    font-weight: 700
}

.ul-font-semiBold {
    font-weight: 600
}

.ul-font-medium {
    font-weight: 500
}

.ul-font-normal {
    font-weight: 400
}

.ul-cursor-pointer {
    cursor: pointer
}

.ul-text-center {
    text-align: center
}

.ul-text-right {
    text-align: right
}

.ul-text-sm {
    font-size: 14px !important
}

.ul-text-md {
    font-size: 16px !important
}

.ul-text-l {
    font-size: 20px !important
}

.ul-text-2xl {
    font-size: 32px !important
}

.ul-text-primary {
    color: var(--color-primary)
}

.ul-text-link,
.ul-text-textBrand {
    color: var(--color-textBrand)
}

.ul-text-link {
    text-decoration: none
}

.ul-text-textThird {
    color: var(--color-RewardsHub-textThird)
}

.ul-inline-flex {
    display: inline-flex
}

.ul-hidden {
    display: none
}

.ul-list-zeroIndent {
    margin-left: -18px
}

.ul-list-none {
    list-style-type: none;
    padding-left: 0
}

.ul-list-dash {
    list-style-type: "-  ";
    padding-left: 15px
}

.ul-list-bullet {
    list-style-type: disc;
    padding-left: 20px
}

.ul-list-decimal {
    list-style-type: decimal;
    padding-left: 20px
}

.ul-gap-xs {
    grid-gap: 4px;
    gap: 4px
}

.ul-gap-sm {
    grid-gap: 16px;
    gap: 16px
}

.ul-gap-md {
    grid-gap: 24px;
    gap: 24px
}

.ul-mt-sm {
    margin-top: 16px
}

.ul-mt-md {
    margin-top: 24px
}

.ul-mt-0 {
    margin-top: 0
}

.ul-mb-0 {
    margin-bottom: 0
}

.ul-decoration-none {
    text-decoration: none
}

.ul-invisible {
    visibility: hidden
}

.ul-svg-container {
    align-items: center;
    display: flex;
    justify-content: center
}

.ul-line-clamp-2 {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto
}

#__APP {
    height: auto;
    overflow: hidden
}

#__APP,
.bn-mask-body {
    width: 100%
}

:root {
    --base-font-size: 16px;
    --space-m: 16px;
    --space-6xl: 48px;
    --space-3xxl: 64px;
    --pageLayoutDecor-height: 32px;
    --voucherStub-width: 91px;
    --globalHeaderHeight: 64px;
    --zIndex-click-though-btn: 3
}

.theme-root.light {
    --color-toast: #8d5f02;
    --color-CardBg: #fef6d5;
    --color-HomeLinkBg: #fff8d2;
    --color-VoucherStubBg-ongoing: #fffde6;
    --color-VoucherStubBg-past: #eaecef;
    --color-PageLayout-gradient: linear-gradient(180deg, #fefcf0, #fff);
    --color-ScratchCardBanner-bg: linear-gradient(180deg, #f0b90b, #f8d33a);
    --color-ScratchCardBanner-button-bg: #0b0e11;
    --color-ScratchCardBanner-button-text: #f8d33a;
    --color-ScratchCardBanner-logo-layerOne: #fffde6;
    --color-ScratchCardBanner-text: #0b0e11;
    --color-ShopItemImgBg: #0b0e11;
    --color-tYellow: #c99400;
    --color-toastSuccessBg: #f2fff7;
    --color-badgeYellowBg: #fef6d8;
    --color-carousel-shadow: rgba(24, 26, 32, .102);
    --color-HomeLink-mobile: var(--color-toast);
    --color-DailyCheckInCard-bg-active: #fcd535;
    --color-CheckInStatusCard-bg-today: #fcd535;
    --color-CheckInResultModal-points: #f0b90b;
    --color-HomeBanner-bg: #fafafa;
    --color-RewardsHub-bg3: #5e6673;
    --color-RewardsHub-textThird: #707a8a
}

.theme-root.dark {
    --color-toast: #fcd535;
    --color-CardBg: #3a3a36;
    --color-HomeLinkBg: #2b3139;
    --color-VoucherStubBg-ongoing: #281a00;
    --color-VoucherStubBg-past: #848e9c;
    --color-PageLayout-gradient: var(--color-BasicBg);
    --color-ScratchCardBanner-bg: #0b0e11;
    --color-ScratchCardBanner-button-bg: #f8d33a;
    --color-ScratchCardBanner-button-text: #0b0e11;
    --color-ScratchCardBanner-logo-layerOne: #281a00;
    --color-ScratchCardBanner-text: #f8d33a;
    --color-ShopItemImgBg: #090c0f;
    --color-tYellow: #f0b90b;
    --color-toastSuccessBg: #102821;
    --color-badgeYellowBg: #3c2601;
    --color-carousel-shadow: rgba(71, 77, 87, .078);
    --color-HomeLink-mobile: var(--color-primary);
    --color-DailyCheckInCard-bg-active: #f0b90b;
    --color-CheckInStatusCard-bg-today: #f0b90b;
    --color-CheckInResultModal-points: #fcd535;
    --color-HomeBanner-bg: #202630;
    --color-RewardsHub-bg3: #5e6673;
    --color-RewardsHub-textThird: #848e9c
}

@media (max-width:767px) {
    .theme-root.dark {
        --color-HomeLink-mobile: var(--color-primaryHover)
    }
}