@charset "UTF-8";
.slick-slider {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -khtml-user-select: none
}

.slick-list,
.slick-slider {
    display: block;
    position: relative
}

.slick-list {
    margin: 0;
    overflow: hidden;
    padding: 0
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-list,
.slick-slider .slick-track {
    transform: translateZ(0)
}

.slick-track {
    display: block;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0
}

.slick-track:after,
.slick-track:before {
    content: "";
    display: table
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    border: 1px solid transparent;
    display: block;
    height: auto
}

.slick-arrow.slick-hidden {
    display: none
}

.slick-loading .slick-list {
    background: #fff url(https://static.devfdg.net/static/media/ajax-loader.0b80f665.gif) 50% no-repeat
}

@font-face {
    font-family: slick;
    font-style: normal;
    font-weight: 400;
    src: url(https://static.devfdg.net/static/media/slick.25572f22.eot);
    src: url(https://static.devfdg.net/static/media/slick.25572f22.eot?#iefix) format("embedded-opentype"), url(https://static.devfdg.net/static/media/slick.653a4cbb.woff) format("woff"), url(https://static.devfdg.net/static/media/slick.6aa1ee46.ttf) format("truetype"), url(https://static.devfdg.net/static/media/slick.f895cfdf.svg#slick) format("svg")
}

.slick-next,
.slick-prev {
    border: none;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 20px;
    line-height: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px
}

.slick-next,
.slick-next:focus,
.slick-next:hover,
.slick-prev,
.slick-prev:focus,
.slick-prev:hover {
    background: transparent;
    color: transparent;
    outline: none
}

.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
    opacity: 1
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
    opacity: .25
}

.slick-next:before,
.slick-prev:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    font-family: slick;
    font-size: 20px;
    line-height: 1;
    opacity: .75
}

.slick-prev {
    left: -25px
}

[dir=rtl] .slick-prev {
    left: auto;
    right: -25px
}

.slick-prev:before {
    content: "←"
}

[dir=rtl] .slick-prev:before {
    content: "→"
}

.slick-next {
    right: -25px
}

[dir=rtl] .slick-next {
    left: -25px;
    right: auto
}

.slick-next:before {
    content: "→"
}

[dir=rtl] .slick-next:before {
    content: "←"
}

.slick-dotted.slick-slider {
    margin-bottom: 30px
}

.slick-dots {
    bottom: -25px;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    position: relative
}

.slick-dots li,
.slick-dots li button {
    cursor: pointer;
    height: 20px;
    width: 20px
}

.slick-dots li button {
    background: transparent;
    border: 0;
    color: transparent;
    display: block;
    font-size: 0;
    line-height: 0;
    outline: none;
    padding: 5px
}

.slick-dots li button:focus,
.slick-dots li button:hover {
    outline: none
}

.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
    opacity: 1
}

.slick-dots li button:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
    content: "•";
    font-family: slick;
    font-size: 6px;
    height: 20px;
    left: 0;
    line-height: 20px;
    opacity: .25;
    position: absolute;
    text-align: center;
    top: 0;
    width: 20px
}

.slick-dots li.slick-active button:before {
    color: #000;
    opacity: .75
}

.PageLayout {
    background: var(--color-BasicBg);
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--globalHeaderHeight))
}

.PageLayout-mp {
    max-height: 100vh;
    overflow-y: auto
}

.PageLayout-header {
    background-color: var(--color-SecondaryBg)
}

.PageLayout-header-content {
    min-height: calc(64px + var(--pageLayoutDecor-height))
}

@media (min-width:768px) {
    .PageLayout-header-content {
        min-height: calc(80px + var(--pageLayoutDecor-height))
    }
}

@media (min-width:1024px) {
    .PageLayout-header-content {
        min-height: calc(104px + var(--pageLayoutDecor-height))
    }
}

.PageLayout-content {
    background: var(--color-BasicBg);
    border-radius: 16px 16px 0 0;
    display: flex;
    flex: 1 1;
    flex-direction: column;
    margin-top: calc(0px - var(--pageLayoutDecor-height));
    padding: 0 16px 120px;
    z-index: 3
}

@media (min-width:768px) {
    .PageLayout-content {
        border-radius: 24px 24px 0 0;
        padding-left: 24px;
        padding-right: 24px
    }
}

@media (min-width:1024px) {
    .PageLayout-content {
        border-radius: 32px 32px 0 0
    }
}

@media (max-width:767px) {
    .PageLayout-content--noDecorTop {
        border-radius: 0
    }
}

.ChallengeList {
    grid-gap: var(--space-m);
    display: flex;
    flex-direction: column;
    gap: var(--space-m)
}

@media (min-width:768px) {
    .ChallengeList {
        grid-gap: var(--space-xl);
        gap: var(--space-xl)
    }
}

@media (min-width:1024px) {
    .ChallengeList {
        grid-gap: 60px;
        gap: 60px
    }
}

.ChallengeList-section-title {
    color: var(--color-textPrimary);
    display: none;
    font-weight: 600;
    margin-bottom: var(--space-xl)
}

@media (min-width:768px) {
    .ChallengeList-section-title {
        display: block;
        font-size: var(--space-l);
        line-height: var(--space-2xl)
    }
}

.ChallengeList-section-content {
    grid-gap: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px
}

@media(min-width:1024px) {
    .ChallengeList-section-content {
        grid-gap: 24px;
        gap: 24px
    }
}

.PageTabs {
    grid-gap: var(--space-m);
    gap: var(--space-m)
}

.PageTabs .bn-tab {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .16px;
    line-height: var(--space-l);
    padding: var(--space-2xs) var(--space-m)
}

.PageTabs .bn-tab-list {
    overflow-x: scroll;
    scroll-behavior: smooth
}

.PageTabs--fullHeight,
.PageTabs--fullHeight .bn-tab-pane,
.PageTabs--fullHeight .bn-tab-pane-list {
    display: flex;
    flex: 1 1;
    flex-direction: column
}

.PageTabs--fullHeight .bn-tab-pane:not(.active) {
    display: none
}

@media (min-width:768px) and (max-width:1023px) {
    .PageTabs--page {
        grid-gap: 24px;
        gap: 24px
    }
}

@media (min-width:1024px) {
    .PageTabs--page {
        grid-gap: 32px;
        gap: 32px
    }
}

.PageTabs--modal {
    height: 100%
}

@media (min-width:768px) {
    .PageTabs--modal {
        grid-gap: 20px;
        gap: 20px
    }
}

.TaskRuleTrigger {
    color: var(--color-RewardsHub-textThird)
}

@media (min-width:768px) {
    .TaskRuleTrigger {
        color: var(--color-textPrimary)
    }
    @media (min-width:768px) {
        .TaskRuleTrigger-button {
            border-radius: 4px;
            font-size: 12px !important;
            font-weight: 400 !important;
            line-height: 16px !important;
            min-width: 0 !important;
            padding: 8px 10px !important
        }
        .TaskRuleTrigger-icon {
            height: 16px !important;
            width: 16px !important
        }
    }
}

.TimeCounter {
    grid-gap: var(--space-5xs);
    align-items: baseline;
    display: flex;
    font-size: 12px;
    gap: var(--space-5xs);
    line-height: 16px
}

@media (min-width:768px) {
    .TimeCounter {
        grid-gap: 8px;
        font-size: 14px;
        gap: 8px;
        line-height: 20px
    }
}

.TimeCounter-wrap {
    grid-gap: 4px;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4px
}

.TimeCounter-value {
    color: var(--color-textPrimary);
    font-weight: 500
}

.TimeCounter-unit {
    color: var(--color-RewardsHub-textThird);
    font-weight: 400
}

.TimeCounter--secondary {
    grid-gap: 4px;
    gap: 4px
}

.TimeCounter--secondary .TimeCounter-value {
    height: 20px;
    padding: 0;
    width: auto
}

.TimeCounter--secondary .TimeCounter-value:before {
    display: none
}

.TimeCounter--secondary .TimeCounter-unit {
    margin-right: 4px
}

.ChallengeLabel {
    background-color: var(--color-successBg);
    border-radius: 0 8px 0 8px;
    color: var(--color-textPrimary);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    padding: 0 4px;
    text-align: center
}

.ChallengeLabel--onboarding {
    background-color: var(--color-toastSuccessBg);
    color: var(--color-success)
}

.ChallengeLabel--daily {
    background-color: var(--color-badgeYellowBg);
    color: var(--color-tYellow)
}

.TaskAction.bn-button {
    height: var(--space-3xl) !important;
    margin: 0;
    min-width: 120px !important;
    padding: 6px 10px
}

.TaskAction-elevated {
    z-index: var(--zIndex-click-though-btn)
}

.TaskAction--childTask.bn-button {
    margin: 0;
    min-width: 96px !important;
    padding: 6px 10px
}

@media (min-width:768px) {
    .TaskAction--childTask.bn-button {
        min-width: 112px !important;
        width: 100%
    }
}

.TruncatedText {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden
}

.TruncatedText-tooltip .bn-bubble-content {
    font-size: 12px;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    line-height: 16px
}

.TruncatedText-tooltip .bn-bubble-arrow,
.TruncatedText-tooltip .bn-bubble-content {
    background-color: var(--color-RewardsHub-bg3)
}

.ProgressBar {
    grid-gap: var(--space-2xs);
    align-items: center;
    display: flex;
    gap: var(--space-2xs);
    width: 100%
}

.ProgressBar-main {
    background-color: var(--color-line);
    flex: 1 1;
    height: 4px;
    min-height: unset !important;
    overflow: visible
}

.ProgressBar-main .bar-inner {
    background: linear-gradient(90deg, #ffdd29, #f8c712);
    border-radius: 0;
    height: 4px
}

.ProgressBar-main .bar-inner:after {
    background-color: var(--color-BasicBg);
    border: 2px solid var(--color-primaryHover);
    border-radius: 50%;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 12px;
    position: absolute;
    right: 0;
    top: -4px;
    width: 12px
}

.ProgressBar-main.isZero .bar-inner:after {
    left: 0;
    right: unset
}

.ProgressBar-value {
    align-items: center;
    display: flex;
    font-size: 14px;
    line-height: 22px
}

.ProgressBar-value-active {
    color: var(--color-textPrimary);
    font-weight: 500
}

.ProgressBar-value-max {
    color: var(--color-RewardsHub-textThird)
}

.ProgressBar-value.isFull>* {
    color: var(--color-textBuy);
    font-weight: 500
}

.ChallengeAction.bn-button {
    padding: 6px 12px
}

@media (max-width:767px) {
    .ChallengeAction.bn-button {
        height: var(--space-5xl);
        width: 100%
    }
}

@media (min-width:768px) {
    .ChallengeAction.bn-button {
        min-width: 156px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content
    }
}

@media (min-width:1024px) {
    .ChallengeAction.bn-button {
        min-width: 180px
    }
}

.ChallengeAction-elevated {
    z-index: var(--zIndex-click-though-btn)
}

.ChallengeCard {
    grid-gap: 32px;
    background-color: var(--color-SecondaryBg);
    border-radius: var(--radii-m);
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 16px;
    position: relative;
    scroll-margin-top: var(--globalHeaderHeight)
}

@media (min-width:768px) {
    .ChallengeCard {
        grid-gap: 0;
        gap: 0;
        padding: 24px
    }
}

@media (min-width:1024px) {
    .ChallengeCard {
        padding: 26px 32px 32px 40px
    }
}

.ChallengeCard-main {
    background-color: var(--color-SecondaryBg);
    border-radius: var(--radii-m);
    display: flex;
    flex: 1 1;
    padding: 0
}

.ChallengeCard-infor {
    grid-gap: var(--space-s);
    display: flex;
    flex: 1 1;
    flex-direction: column;
    gap: var(--space-s);
    justify-content: space-between
}

@media (min-width:768px) {
    .ChallengeCard-infor {
        grid-gap: 32px;
        flex: 1 1;
        gap: 32px;
        justify-content: unset;
        margin-right: 16px;
        padding: 0
    }
    .ChallengeCard-infor-progress {
        width: 100%
    }
}

@media (min-width:1024px) {
    .ChallengeCard-infor {
        margin-right: 40px
    }
}

.ChallengeCard-infor-content {
    grid-gap: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px
}

.ChallengeCard-infor-icon {
    color: var(--color-RewardsHub-textThird);
    display: inline-block;
    font-size: 16px;
    height: 20px;
    width: 16px
}

.ChallengeCard-infor-title {
    grid-gap: var(--space-4xs);
    align-items: center;
    color: var(--color-textPrimary);
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    gap: var(--space-4xs);
    line-height: 28px;
    position: relative
}

@media (min-width:768px) and (max-width:1023px) {
    .ChallengeCard-infor-title {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px
    }
}

@media (min-width:1024px) {
    .ChallengeCard-infor-title {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px
    }
}

.ChallengeCard-infor-footer {
    grid-gap: var(--space-m);
    align-items: center;
    display: flex;
    gap: var(--space-m)
}

.ChallengeCard-infor-trade {
    grid-gap: var(--space-2xs);
    color: var(--color-RewardsHub-textThird);
    display: flex;
    font-size: 14px;
    gap: var(--space-2xs);
    line-height: var(--space-l)
}

.ChallengeCard-infor-trade-progress {
    display: flex
}

.ChallengeCard-infor-trade-unit {
    text-transform: uppercase
}

.ChallengeCard-infor-subTitle,
.ChallengeCard-timeStatus {
    font-size: 14px;
    line-height: 20px
}

.ChallengeCard-timeStatus {
    grid-gap: 23px;
    display: flex;
    font-weight: 400;
    gap: 23px;
    justify-content: end;
    margin-bottom: 24px;
    text-align: right
}

.ChallengeCard-timeStatus-title {
    color: var(--color-RewardsHub-textThird)
}

.ChallengeCard-taskList {
    display: flex;
    flex-direction: column;
    position: relative
}

.ChallengeCard-taskList-separator {
    background-color: var(--color-line);
    content: "";
    height: 1px;
    margin: 16px 0;
    min-height: 1px;
    width: 100%
}

@media (min-width:768px) and (max-width:1023px) {
    .ChallengeCard-taskList {
        grid-gap: var(--space-xs);
        flex-direction: row;
        gap: var(--space-xs);
        width: 416px
    }
}

@media (min-width:1024px) {
    .ChallengeCard-taskList {
        grid-gap: var(--space-m);
        flex-direction: row;
        gap: var(--space-m);
        width: 760px
    }
}

.ChallengeCard-taskList-card {
    grid-gap: var(--space-2xs);
    background-color: var(--color-SecondaryBg);
    border-radius: var(--radii-m);
    flex: 1 1;
    gap: var(--space-2xs);
    height: 100%;
    padding: 0;
    position: relative;
    width: 100%
}

@media (min-width:768px) {
    .ChallengeCard-taskList-card {
        grid-gap: unset;
        align-items: flex-start;
        background-color: var(--color-popupBg);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: unset;
        height: 236px;
        justify-content: space-between;
        min-width: 200px;
        padding: 24px 16px;
        width: auto;
        width: 200px
    }
}

@media (min-width:1024px) {
    .ChallengeCard-taskList-card {
        height: 240px;
        min-width: 368px;
        padding: 24px;
        width: 368px
    }
}

.ChallengeCard-taskList-card-icon {
    align-items: center;
    background: var(--color-SecondaryBg);
    display: flex;
    justify-content: center
}

.ChallengeCard-taskList-card-icon-wrap .bn-svg {
    height: 20px;
    width: 20px
}

@media (min-width:768px) {
    .ChallengeCard-taskList-card-icon-wrap {
        background-color: var(--color-SecondaryBg);
        border-radius: var(--space-2xs);
        height: 48px;
        width: 48px
    }
}

.ChallengeCard-taskList-card-main {
    grid-gap: var(--space-2xs);
    align-items: center;
    display: flex;
    gap: var(--space-2xs)
}

@media (min-width:768px) {
    .ChallengeCard-taskList-card-main {
        grid-gap: 24px;
        align-items: unset;
        flex-direction: column;
        gap: 24px
    }
}

.ChallengeCard-taskList-card-title {
    grid-gap: 2px;
    font-size: 14px;
    font-weight: 500;
    gap: 2px;
    line-height: 20px
}

@media (min-width:1024px) {
    .ChallengeCard-taskList-card-title {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px
    }
}

.ChallengeCard-taskList-card-icon {
    color: var(--color-RewardsHub-textThird);
    font-size: 16px;
    height: 16px;
    width: 16px
}

@media (min-width:768px) {
    .ChallengeCard-taskList-card-icon {
        right: 10px;
        top: 10px
    }
    .ChallengeCard-taskList-card-accumulation {
        justify-content: center
    }
}

.ChallengeCard-taskList-card-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 16px
}

@media (min-width:768px) {
    .ChallengeCard-taskList-card-footer {
        justify-content: center;
        margin-top: unset
    }
}

.ChallengeCard-taskList-card-progress {
    color: var(--color-RewardsHub-textThird);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin-right: 8px
}

.ChallengeCard-taskList-card-progress-wrap {
    grid-gap: 4px;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4px
}

@media (min-width:768px) {
    .ChallengeCard-taskList-card-progress-wrap {
        margin-top: 16px
    }
}

.ChallengeCard-taskList-card-action-wrap {
    grid-gap: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end
}

@media (min-width:768px) {
    .ChallengeCard-taskList-card-action-wrap {
        align-items: unset;
        flex-direction: row-reverse;
        justify-content: flex-start
    }
}

.ChallengeCard-taskList-arrow {
    background-color: var(--color-SecondaryBg) !important;
    border: 0;
    border-radius: 50% !important;
    box-shadow: 0 3px 6px 0 var(--color-carousel-shadow);
    color: var(--color-RewardsHub-textThird) !important;
    cursor: pointer !important;
    font-size: 20px !important;
    height: 32px !important;
    min-height: 32px !important;
    min-width: 32px !important;
    opacity: 1;
    outline: 0;
    padding: 4px !important;
    position: absolute;
    top: 50%;
    transition: all .5s;
    z-index: 1000
}

.ChallengeCard-taskList-arrow--left {
    left: 0;
    transform: translateX(-50%) translateY(-50%)
}

.ChallengeCard-taskList-arrow--right {
    right: 0;
    transform: translateX(80%) translateY(-50%)
}

.ChallengeCard-taskList-progress {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px
}

.ChallengeCard-taskList-progress-wrap {
    grid-gap: 4px;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4px
}

.ChallengeCard-taskList--Carousel {
    display: block
}

.ChallengeCard-taskList--Carousel .slick-slide>div {
    flex: none;
    height: 100%;
    margin: 0 8px !important
}

.ChallengeCard-taskList--Carousel .slick-list {
    margin: 0 -8px !important
}

.ChallengeCard-taskList--Carousel .slick-list,
.ChallengeCard-taskList--Carousel .slick-slider,
.ChallengeCard-taskList--Carousel .slick-track {
    height: 100%
}

.ChallengeCard-rewards {
    display: flex;
    flex-direction: column
}

@media (min-width:768px) {
    .ChallengeCard-rewards {
        flex-direction: row
    }
}

.ChallengeCard-rewards-wrap {
    grid-gap: 8px;
    gap: 8px
}

.ChallengeCard-rewards-amount {
    color: var(--color-textPrimary);
    font-size: 24px;
    font-weight: 600;
    line-height: 32px
}

@media (min-width:1024px) {
    .ChallengeCard-rewards-amount {
        font-size: 32px;
        font-weight: 600;
        line-height: 40px
    }
}

.ChallengeCard-rewards-amount-wrap {
    grid-gap: 8px;
    align-items: baseline;
    display: flex;
    flex-direction: row;
    gap: 8px
}

.ChallengeCard-rewards-currency {
    color: var(--color-textPrimary);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px
}

@media (min-width:1024px) {
    .ChallengeCard-rewards-currency {
        font-size: 16px;
        line-height: 24px
    }
}

.ChallengeCard-rewards-type {
    grid-gap: 8px;
    align-items: center;
    color: var(--color-textSecondary);
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-weight: 400;
    gap: 8px;
    line-height: 16px;
    margin-top: 8px
}

@media (min-width:1024px) {
    .ChallengeCard-rewards-type {
        font-size: 14px;
        line-height: 20px
    }
}

@media (min-width:768px) {
    .ChallengeCard-rewards-type-icon>.bn-svg {
        height: 16px;
        width: 16px
    }
}

@media (min-width:1024px) {
    .ChallengeCard-rewards-type-icon>.bn-svg {
        height: 20px;
        width: 20px
    }
}

.ChallengeCard-rewardIcon {
    margin-right: 4px
}

.ChallengeCard-rewardIcon .bn-svg {
    height: 16px;
    width: 16px
}

@media (min-width:1024px) {
    .ChallengeCard-rewardIcon .bn-svg {
        height: 20px;
        width: 20px
    }
}

.ChallengeCard--disabled {
    position: relative
}

.ChallengeCard--disabled:before {
    background-color: transparent;
    z-index: 1
}

.ChallengeCard--disabled:after,
.ChallengeCard--disabled:before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.ChallengeCard--disabled:after {
    background-color: var(--color-SecondaryBg);
    opacity: .4;
    pointer-events: none;
    touch-action: none;
    z-index: var(--zindex-mask)
}

.ChallengeCard--disabled .TaskRuleTrigger {
    z-index: calc(var(--zindex-mask) + 1)
}

.ChallengeCard--disabled .ChallengeCard-rewards-amount,
.ChallengeCard--disabled .ChallengeCard-rewards-currency {
    -webkit-text-fill-color: var(--color-RewardsHub-textThird);
    -moz-text-fill-color: var(--color-RewardsHub-textThird);
    -ms-text-fill-color: var(--color-RewardsHub-textThird)
}

.ChallengeCard--disabled .ChallengeCard-timeStatus {
    z-index: calc(var(--zindex-mask) + 1)
}

.ChallengeCard-action {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px
}

@media (max-width:767px) {
    .ChallengeCard-action {
        padding-bottom: 6px !important;
        padding-top: 6px !important
    }
}

.ChallengeCard-taskLabel {
    position: absolute;
    right: 0;
    top: 0
}

.ChallengeCard--rtl .ChallengeCard-taskList-card-icon {
    left: 8px;
    right: auto
}

@media (min-width:768px) {
    .ChallengeCard--rtl .ChallengeCard-taskList-card-icon {
        left: 10px;
        right: auto
    }
}

.ChallengeCardField {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.ChallengeCardField-label {
    color: var(--color-RewardsHub-textThird);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px
}

.ChallengeCardField-value {
    align-items: center;
    color: var(--color-textPrimary);
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px
}

.ChallengeCardField-rewardIcon {
    font-size: 24px;
    margin-right: 4px
}

@media (min-width:768px) and (max-width:1023px) {
    .ChallengeCardField-rewardIcon {
        font-size: 14px
    }
}

@media (min-width:768px) {
    .ChallengeCardField-label {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        width: 295px
    }
    .ChallengeCardField-value {
        flex: 1 1;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: left
    }
}