* {
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0
}

*,
body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    -webkit-touch-callout: none;
    backface-visibility: hidden;
    font-weight: 400;
    line-height: 1.5
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}

@keyframes zoom-in {
    0% {
        transform: scale(.95)
    }
    66% {
        transform: scale(1.05)
    }
    to {
        transform: scale(1)
    }
}

@keyframes fade-in {
    0% {
        opacity: 0
    }
    95%,
    to {
        opacity: 1
    }
}

@keyframes fade-out {
    0% {
        opacity: 1
    }
    95%,
    to {
        opacity: 0
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

@keyframes spin-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -40px
    }
    to {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -120px
    }
}

@keyframes spin-scaleY {
    0%,
    40%,
    to {
        transform: scaleY(.4)
    }
    20% {
        transform: scaleY(1)
    }
}

@keyframes jump-scaleY {
    0% {
        transform: translateY(0) scaleY(1)
    }
    7.5% {
        transform: translateY(-120%) scaleY(2)
    }
    15%,
    35% {
        transform: translateY(-120%) scaleY(.5)
    }
    43.5% {
        transform: translateY(0) scaleY(2)
    }
    52.5%,
    72.5% {
        transform: translateY(120%) scaleY(.5)
    }
    80%,
    to {
        transform: translateY(0) scaleY(1)
    }
}

@keyframes blink {
    0%,
    to {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

@keyframes skeleton-loading {
    0% {
        background-position: 100% 50%
    }
    to {
        background-position: 0 50%
    }
}

.rc-upload {
    display: inline-flex
}

body {
    --animation-duration-fast: 100ms;
    --animation-duration-base: 250ms;
    --animation-duration-slow: 400ms;
    --zindex-mask: 10;
    --zindex-menu: 1000;
    --zindex-header: 1001;
    --zindex-dropdown: 1200;
    --zindex-modal: 1200;
    --zindex-backTop: 1225;
    --zindex-calendar: 1250;
    --zindex-mobilePop: 1275;
    --zindex-notification: 1300;
    --zindex-alert: 1350;
    --zindex-tooltip: 1400;
    --zindex-coachmark: 1400;
    --zindex-drawer: 9999;
    --radii-2xs: 2px;
    --radii-xs: 4px;
    --radii-s: 6px;
    --radii-m: 8px;
    --radii-l: 10px;
    --radii-2l: 12px;
    --radii-xl: 16px;
    --radii-2xl: 30px;
    --radii-circle: 100em;
    --space-7xs: -2px;
    --space-6xs: 0;
    --space-5xs: 2px;
    --space-4xs: 4px;
    --space-3xs: 5px;
    --space-2xs: 8px;
    --space-xs: 10px;
    --space-s: 12px;
    --space-m: 15px;
    --space-l: 20px;
    --space-xl: 24px;
    --space-2xl: 28px;
    --space-3xl: 32px;
    --space-4xl: 36px;
    --space-5xl: 40px;
    --space-mm: 16px;
    --scroll-pad: 2px;
    --scroll-size: 10px
}

body::-webkit-scrollbar-thumb:active {
    --scroll-pad: 0
}

body * {
    --scroll-size: 6px;
    --scroll-pad: 1px
}

body,
body * {
    --scroll-bg: transparent;
    --scroll-color: var(--color-DisabledText)
}

body ::-webkit-scrollbar,
body::-webkit-scrollbar {
    background-color: var(--scroll-bg);
    height: var(--scroll-size);
    width: var(--scroll-size)
}

body ::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: var(--scroll-color);
    border-color: var(--scroll-bg);
    border-radius: 20px;
    border-style: solid;
    border-width: var(--scroll-pad)
}

body ::-webkit-scrollbar-corner,
body::-webkit-scrollbar-corner {
    background-color: var(--scroll-bg)
}

@supports not selector(*::-webkit-scrollbar-thumb) {
    body,
    body * {
        scrollbar-color: var(--scroll-color) var(--scroll-bg);
        scrollbar-width: thin
    }
}

@media only screen and (min-width:768px) {
    body {
        --space-3xs: 6px;
        --space-m: 16px
    }
    body::-webkit-scrollbar-thumb:hover {
        --scroll-pad: 0
    }
}

.theme-root {
    --shadow-shadow1: var(--shadow1-layer1), var(--shadow1-layer2);
    --shadow-shadow2: var(--shadow2-layer1), var(--shadow2-layer2), var(--shadow2-layer3);
    background: var(--color-BasicBg);
    color: var(--color-PrimaryText)
}

.theme-root.dark,
.theme-root.midnight {
    --shadow1-layer1: 0px 0px 1px rgba(94, 102, 115, .8);
    --shadow1-layer2: 0px 3px 6px rgba(0, 0, 0, .04);
    --shadow2-layer1: -2px 0px 14px rgba(0, 0, 0, .4);
    --shadow2-layer2: 0px 0px 6px rgba(0, 0, 0, .2);
    --shadow2-layer3: inset 0px 0px 2px hsla(0, 0%, 100%, .2)
}

.theme-root.light {
    --shadow1-layer1: 0px 1px 6px rgba(24, 26, 32, .1);
    --shadow1-layer2: 0px 3px 6px rgba(71, 77, 87, .04);
    --shadow2-layer1: 0px 8px 32px rgba(17, 17, 26, .05);
    --shadow2-layer2: 0px 4px 16px rgba(17, 17, 26, .1);
    --shadow2-layer3: inset 0px 0px 0px transparent
}

@media only screen and (min-width:768px) {
    .theme-root.dark,
    .theme-root.midnight {
        --shadow3-layer1: 0px 16px 32px rgba(0, 0, 0, .16);
        --shadow3-layer2: 0px 8px 16px rgba(0, 0, 0, .16);
        --shadow3-layer3: inset 0px 0px 1px rgba(94, 102, 115, .9);
        --shadow-shadow3: var(--shadow3-layer1), var(--shadow3-layer2), var(--shadow3-layer3);
        --shadow-shadow4: 0px 8px 16px rgba(24, 26, 32, .16)
    }
    .theme-root.light {
        --shadow3-layer1: 0px 0px 1px rgba(24, 26, 32, .1);
        --shadow3-layer2: 0px 16px 32px rgba(71, 77, 87, .16);
        --shadow3-layer3: 0px 8px 16px rgba(24, 26, 32, .16);
        --shadow-shadow3: var(--shadow3-layer1), var(--shadow3-layer2), var(--shadow3-layer3);
        --shadow-shadow4: 0px 8px 16px rgba(24, 26, 32, .16)
    }
}

.theme-root.rtl {
    direction: rtl
}